{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %} {% endblock %}</title>
    <meta name="keywords" content="Power Enough, eCommerce, Django">
    <meta name="description" content="Power Enough Store - Your one-stop shop for all your needs">
    <meta name="author" content="Team Power Enough Perfomance">

    <!-- Replace the static links with dynamic links from the Owner model -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ owner.favicon.url }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ owner.favicon.url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ owner.favicon.url }}">
    <link rel="shortcut icon" href="{{ owner.favicon.url }}">
    <link rel="manifest" href="{% static 'manifest/manifest.json' %}">


    <meta name="apple-mobile-web-app-title" content="Power Enough Store">
    <meta name="application-name" content="POWER ENOUGH STORE">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="{% static 'vendor/line-awesome/line-awesome/line-awesome/css/line-awesome.min.css' %}">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/plugins/owl-carousel/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css/plugins/jquery.countdown.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />

    <!-- Main CSS File -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    <link rel="stylesheet" href="{% static 'css/skins/skin-demo-2.css' %}">
    <link rel="stylesheet" href="{% static 'css/demos/demo-2.css' %}">
    <link rel="stylesheet" href="{% static 'css/plugins/nouislider/nouislider.css' %}">


    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
   
 

    
</head>

<body>
    <style>

        {% comment %} #loading-progress {
            color: #0cf000; /* Green color */
            font-size: 16px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }


        .preloader.fade {
            opacity: 0; 
        }
        #preloader {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #312a2b;
            z-index: 999;
        }
        #loader {
            display: block;
            position: relative;
            left: 50%;
            top: 50%;
            width: 150px;
            height: 150px;
            margin: -75px 0 0 -75px;
            border-radius: 50%;
            border: 3px solid transparent;
            border-top-color: #0cf000;
            -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
        }
        #loader:before {
            content: "";
            position: absolute;
            top: 5px;
            left: 5px;
            right: 5px;
            bottom: 5px;
            border-radius: 50%;
            border: 3px solid transparent;
            border-top-color: #0cf000;
            -webkit-animation: spin 3s linear infinite;
            animation: spin 3s linear infinite;
        }
        #loader:after {
            content: "";
            position: absolute;
            top: 15px;
            left: 15px;
            right: 15px;
            bottom: 15px;
            border-radius: 50%;
            border: 3px solid transparent;
            border-top-color: #08a100;
            -webkit-animation: spin 1.5s linear infinite;
            animation: spin 1.5s linear infinite;
        }
        @-webkit-keyframes spin {
            0%   {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }
        @keyframes spin {
            0%   {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }
         {% endcomment %}


        .float{
            position:fixed;
            width:60px;
            height:60px;
            bottom:40px;
            right:40px;
            background-color:#25d366;
            color:#FFF;
            border-radius:50px;
            text-align:center;
          font-size:30px;
            box-shadow: 2px 2px 3px #999;
          z-index:100;
        }
        
        .my-float{
            margin-top:16px;
        }

    </style>
  


    

 
    <div class="page-wrapper">
        <header class="header header-1 header-intro-clearance">
            
           {% comment "" %} <div class="header-top">
                <div class="container">
                    <div class="header-left">
                        <p>Special collection already available.</p><a href="#">&nbsp;Read more ...</a>
                    </div><!-- End .header-left -->

                    <div class="header-right">

                        <ul class="top-menu">
                            <li>
                                <a href="#">Links</a>
                                <ul>
                                    <li>
                                        <div class="header-dropdown">
                                            <a href="#">USD</a>
                                            <div class="header-menu">
                                                <ul>
                                                    <li><a href="#">Eur</a></li>
                                                    <li><a href="#">Usd</a></li>
                                                </ul>
                                            </div><!-- End .header-menu -->
                                        </div>
                                    </li>
                                    <li>
                                        <div class="header-dropdown">
                                            <a href="#">English</a>
                                            <div class="header-menu">
                                                <ul>
                                                    <li><a href="#">English</a></li>
                                                    <li><a href="#">French</a></li>
                                                    <li><a href="#">Spanish</a></li>
                                                </ul>
                                            </div><!-- End .header-menu -->
                                        </div>
                                    </li>
                                    <li><a href="#signin-modal" data-toggle="modal">Sign in / Sign up</a></li>
                                </ul>
                            </li>
                        </ul><!-- End .top-menu -->
                    </div><!-- End .header-right -->

                </div><!-- End .container -->
            </div><!-- End .header-top -->{% endcomment %}


            <div class="header-middle sticky-header">
                <div class="container">
                    <div class="header-left">
                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>

                        <a href="{% url "store:homepage" %}" class="logo">
                            <img src="{{ owner.website_logo.url }}" alt="Power Enough Performance" width="120" height="25">
                        </a>
                    </div><!-- End .header-left -->


                    <div class="header-center">
                        <nav class="main-nav">
                            <ul class="menu sf-arrows">
                                <li>
                                    <a class="sf-with-ul" style="cursor: pointer; color: black;">Categories</a>
                                    <ul class="megamenu megamenu-md">
                                        <div class="row no-gutters">
                                            {% for category in categories %}
                                                {% if not category.parent_category %}
                                                    <div class="col-md-6">
                                                        <div class="menu-col">
                                                            <div class="menu-title">
                                                                <a href="{{ category.get_absolute_url }}"><strong  style="color: black;">{{ category.name }}</strong></a>
                                                            </div><!-- End .menu-title -->
                                                            <ul>
                                                                {% for sub_category in categories %}
                                                                    {% if sub_category.parent_category == category %}
                                                                        <li><a href="{{ sub_category.get_absolute_url }}">{{ sub_category.name }}</a></li>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </ul>
                                                        </div><!-- End .menu-col -->
                                                    </div><!-- End .col-md-6 -->
                                                {% endif %}
                                            {% endfor %}
                                        </div><!-- End .row -->
                                    </ul>
                                </li>
                                <!-- Three additional lists for featured categories -->
                                {% for category in featured_categories %}
                                    <li>
                                        <a href="{{ category.get_absolute_url }}"  style="cursor: pointer; padding: 2rem;">{{ category.name }}</a>
                                        
                                    </li>
                                {% endfor %}
                                <!-- Example of other menu items -->
                         
                            </ul><!-- End .menu -->
                        </nav><!-- End .main-nav -->
                        
                    </div><!-- End .header-center -->

                    <div class="header-right">

                        <div class="search">
                            <div class="header-search">
                                <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                                <p>Search</p>
                                <form action="{% url 'store:search_products' %}" method="get">
                                    <div class="header-search-wrapper">
                                        <input type="search" class="form-control" name="q" id="q" placeholder="Search in..." required>
                                        <button type="submit" class="btn"></button>
                                    </div><!-- End .header-search-wrapper -->
                                </form>
                                
                            </div><!-- End .header-search -->
                        </div>

                        <div class="account">
                            {% if user_data %}
                                <a href="{% url 'account:signout' %}" title="My account">
                                    <div class="icon">
                                        <i class="icon-user"></i>
                                    </div>
                                    <p>{{ user_data.full_name }}</p>
                                </a>
                            {% else %}
                                <a href="{% url 'account:signin' %}" title="Login">
                                    <div class="icon">
                                        <i class="icon-user"></i>
                                    </div>
                                    <p>Login</p>
                                </a>
                            {% endif %}
                        </div><!-- End .account -->

                        {% comment %} <div class="wishlist">
                            <a href="wishlist.html" title="Wishlist">
                                <div class="icon">
                                    <i class="icon-heart-o"></i>
                                    <span class="wishlist-count badge">3</span>
                                </div>
                                <p>Wishlist</p>
                            </a>
                        </div><!-- End .compare-dropdown -->

                        <div class="dropdown cart-dropdown">
                            <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false" data-display="static">
                                <div class="icon">
                                    <i class="icon-shopping-cart"></i>
                                    <span class="cart-count">2</span>
                                </div>
                                <p>Cart</p>
                            </a>

                            <div class="dropdown-menu dropdown-menu-right">
                                <div class="dropdown-cart-products">
                                    <div class="product">
                                        <div class="product-cart-details">
                                            <h4 class="product-title">
                                                <a href="product.html">Beige knitted elastic runner shoes</a>
                                            </h4>

                                            <span class="cart-product-info">
                                                <span class="cart-product-qty">1</span>
                                                x $84.00
                                            </span>
                                        </div><!-- End .product-cart-details -->

                                        <figure class="product-image-container">
                                            <a href="product.html" class="product-image">
                                                <img src="assets/images/products/cart/product-1.jpg" alt="product">
                                            </a>
                                        </figure>
                                        <a href="#" class="btn-remove" title="Remove Product"><i
                                                class="icon-close"></i></a>
                                    </div><!-- End .product -->

                                    <div class="product">
                                        <div class="product-cart-details">
                                            <h4 class="product-title">
                                                <a href="product.html">Blue utility pinafore denim dress</a>
                                            </h4>

                                            <span class="cart-product-info">
                                                <span class="cart-product-qty">1</span>
                                                x $76.00
                                            </span>
                                        </div><!-- End .product-cart-details -->

                                        <figure class="product-image-container">
                                            <a href="product.html" class="product-image">
                                                <img src="assets/images/products/cart/product-2.jpg" alt="product">
                                            </a>
                                        </figure>
                                        <a href="#" class="btn-remove" title="Remove Product"><i
                                                class="icon-close"></i></a>
                                    </div><!-- End .product -->
                                </div><!-- End .cart-product -->

                                <div class="dropdown-cart-total">
                                    <span>Total</span>

                                    <span class="cart-total-price">$160.00</span>
                                </div><!-- End .dropdown-cart-total -->

                                <div class="dropdown-cart-action">
                                    <a href="cart.html" class="btn btn-primary">View Cart</a>
                                    <a href="checkout.html" class="btn btn-outline-primary-2"><span>Checkout</span><i
                                            class="icon-long-arrow-right"></i></a>
                                </div><!-- End .dropdown-cart-total -->
                            </div><!-- End .dropdown-menu -->
                        </div><!-- End .cart-dropdown -->
                    </div><!-- End .header-right --> {% endcomment %}
                </div><!-- End .container -->
            </div><!-- End .header-middle -->
        </header><!-- End .header -->





        <!-- BLOCK CONTENT -->

            {% block content %}


            {% endblock %}

        <!-- ENDBLOCK CONTENT -->



        <footer class="footer footer-2">
            <div class="footer-middle">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-lg-6">
                            <div class="widget widget-about">
                                <img src="{{ owner.footer_logo.url }}" class="footer-logo" alt="Power Enough Performance" width="105" height="25">


                                <div class="widget-about-info">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-4">
                                            <span class="widget-about-title">Got Question? Call us 24/7</span>
                                            <a href="tel:{{ owner.phone_number }}">{{ owner.phone_number }}</a>
                                        </div><!-- End .col-sm-6 -->
                                        

                                    </div><!-- End .row -->
                                </div><!-- End .widget-about-info -->
                            </div><!-- End .widget about-widget -->
                        </div><!-- End .col-sm-12 col-lg-3 -->

                        <div class="col-sm-6 col-lg-2">
                            <div class="widget">
                                <h4 class="widget-title">Information</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="#">FAQ</a></li>
                                    <li><a href="contact.html">Contact us</a></li>
                                    <li><a href="login.html">Log in</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-4 col-lg-3 -->

                        <div class="col-sm-6 col-lg-2">
                            <div class="widget">
                                <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="#">Payment Methods</a></li>
                                    <li><a href="#">Money-back guarantee!</a></li>
                                    <li><a href="#">Returns</a></li>
                                    <li><a href="#">Shipping</a></li>
                                    <li><a href="#">Terms and conditions</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-4 col-lg-3 -->

                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .footer-middle -->

            <div class="footer-bottom">
                <div class="container">
                    <p class="footer-copyright">Copyright © 2024 Power Enough Store. All Rights Reserved.</p>
                    <!-- End .footer-copyright -->
                    <ul class="footer-menu">
                        <li><a href="#">Terms Of Use</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul><!-- End .footer-menu -->

                    <div class="social-icons social-icons-color">
                        <span class="social-label">Social Media</span>
                        {% if owner.facebook %}
                        <a href="{{ owner.facebook }}" class="social-icon social-facebook" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
                        {% endif %}
                        {% if owner.twitter %}
                        <a href="{{ owner.twitter }}" class="social-icon social-twitter" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
                        {% endif %}
                        {% if owner.instagram %}
                        <a href="{{ owner.instagram }}" class="social-icon social-instagram" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                        {% endif %}
                        {% if owner.youtube %}
                        <a href="{{ owner.youtube }}" class="social-icon social-youtube" title="Youtube" target="_blank"><i class="icon-youtube"></i></a>
                        {% endif %}
                        {% if owner.whatsapp %}
                        <a href="{{ owner.whatsapp }}" class="social-icon social-whatsapp" title="WhatsApp" target="_blank"><i class="icon-whatsapp"></i></a>
                        {% endif %}
                    </div><!-- End .social-icons -->
                    
                </div><!-- End .container -->
            </div><!-- End .footer-bottom -->
        </footer><!-- End .footer -->
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    <div class="mobile-menu-container mobile-menu-light">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="icon-close"></i></span>

            <form action="{% url 'store:search_products' %}" method="get">
                <label for="mobile-search" class="sr-only">Search</label>
                <input type="search" class="form-control" name="q" id="q"
                    placeholder="Search product ..." required>
                <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
            </form>

            <nav class="mobile-nav">
                <ul class="mobile-menu">
                    <li class="active">
                        <a href="#">Categories</a>
                        <ul>
                            <!-- Loop through top-level categories -->
                            {% for category in top_level_categories %}
                                <li>
                                    <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>
                                    <!-- Check if the category has child categories -->
                                    {% if category.children.all %}
                                        <ul>
                                            <!-- Loop through child categories -->
                                            {% for child_category in category.children.all %}
                                                <li>
                                                    <a href="{{ child_category.get_absolute_url }}">{{ child_category.name }}</a>
                                                    <!-- You can continue nesting for deeper levels if needed -->
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li>
                        <a>Vendors</a>
                        <ul>
                            <!-- Loop through vendors -->
                            {% for vendor in vendors %}
                                <li>
                                    <a href="{{ vendor.get_absolute_url }}">{{ vendor.name }}</a>
                                    <!-- You can add additional vendor details here if needed -->
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% for featured_category in featured_categories %}
                        <li>
                            <a href="{{ featured_category.get_absolute_url }}">{{ featured_category.name }}</a>
                            <!-- You can add additional featured category details here if needed -->
                        </li>
                    {% endfor %}
                </ul>
            </nav><!-- End .mobile-nav -->

            <div class="social-icons">
                {% if owner.facebook %}
                <a href="{{ owner.facebook }}" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                {% endif %}
                {% if owner.twitter %}
                <a href="{{ owner.twitter }}" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                {% endif %}
                {% if owner.instagram %}
                <a href="{{ owner.instagram }}" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                {% endif %}
                {% if owner.youtube %}
                <a href="{{ owner.youtube }}" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
                {% endif %}
                {% if owner.whatsapp %}
                <a href="{{ owner.whatsapp }}" class="social-icon" target="_blank" title="WhatsApp"><i class="icon-whatsapp"></i></a>
                {% endif %}
            </div><!-- End .social-icons -->
            
        </div><!-- End .mobile-menu-wrapper -->


    </div><!-- End .mobile-menu-container -->
    <a href="{{ owner.whatsapp }}" class="float" target="_blank">
        <i class="fa-brands fa-whatsapp my-float"></i>
    </a>
    
  <!-- Plugins JS File -->
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/jquery.hoverIntent.min.js' %}"></script>
  <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'js/superfish.min.js' %}"></script>
  <script src="{% static 'js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'js/jquery.plugin.min.js' %}"></script>
  <script src="{% static 'js/jquery.countdown.min.js' %}"></script>
  <script src="{% static 'js/nouislider.min.js' %}"></script>
  <!-- Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>
  <script src="{% static 'js/demos/demo-2.js' %}"></script>



  {% comment %} <script>
    // JavaScript
    window.onload = function() {
        var preloader = document.getElementsByClassName('preloader')[0];
        var progressText = document.getElementById('loading-progress');
        var isFirstLoad = sessionStorage.getItem('isFirstLoad');
        
        // Check if it's the first time loading the page
        if (!isFirstLoad) {
            sessionStorage.setItem('isFirstLoad', true); // Set the flag to indicate first load
            var counter = 0;
            var interval = setInterval(function() {
                counter++;
                progressText.textContent = counter + '%';
                if (counter === 100) {
                    clearInterval(interval);
                    preloader.style.opacity = '0';
                    setTimeout(function() {
                        preloader.style.display = 'none';
                    }, 500);
                }
            }, 20);
        } else {
            preloader.style.display = 'none'; // Hide the preloader if not the first load
        }
    };

      
  </script> {% endcomment %}
  <script>
    // Check if the browser supports service workers
if ('serviceWorker' in navigator) {
window.addEventListener('load', () => {
    navigator.serviceWorker.register('/service-worker.js')
        .then(registration => {
            console.log('Service Worker registered:', registration);
        })
        .catch(error => {
            console.error('Service Worker registration failed:', error);
        });
});
}

// Check if the browser supports the beforeinstallprompt event
window.addEventListener('beforeinstallprompt', (event) => {
// Prevent the default installation prompt
event.preventDefault();
// Show a custom installation prompt to the user
document.getElementById('installPrompt').style.display = 'block';

// Save the event for later use
deferredInstallPrompt = event;

// Handle the user's response to the installation prompt
document.getElementById('installButton').addEventListener('click', () => {
    // Show the default installation prompt
    deferredInstallPrompt.prompt();
    // Wait for the user's choice
    deferredInstallPrompt.userChoice.then((choiceResult) => {
        if (choiceResult.outcome === 'accepted') {
            console.log('User accepted the installation prompt');
        } else {
            console.log('User dismissed the installation prompt');
        }
        // Reset the deferred prompt variable
        deferredInstallPrompt = null;
        // Hide the custom installation prompt
        document.getElementById('installPrompt').style.display = 'none';
    });
});
});

  </script>
  
  
</body>

</html>