{% extends 'base.html' %}
{%  load static %}
{% load category_tree %}


{% block title %}Power Enough Store.. {% endblock %}
{% block content %}

<style>
    .color-text{
        color: #389646;

    }
    .banner-custom {
      background-image: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.2),
            rgba(1, 1, 1, 0.8)
          ), url('{% static "images/banners/ninja.jpg" %}');      
      background-size: cover;
      background-position: center center;
      text-align: center;
      padding: 10rem 5rem;  
      height: 80vh; 
      background-color: rgba(1, 1, 1, 0.9); 
    }

    .banner-custom span {
        color: #389646;
    }
  

    .form-section {
      background-color: rgba(1, 1, 1, 0.8);
      padding: 20px;
      border-radius: 10px;
    }

    .banner-custom-title{
        font-size:2rem;
        color: black;
    }

    .banner-custom-title span{
        font-size:4rem;
    }


    .banner-custom-title span{
        color: #389646;
    }

    .category-row{
        display: flex;
p       overflow-x: hidden;

    }

  

    .banner-img img {
        width: 28rem;
        height: 25rem;
        object-fit: scale-down;

      }
      


    .category-container {
        padding-right: 0;
        padding-left: 5rem;
        margin-top: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.5); /* Add a subtle box shadow */

    }

    .banner-img{
        background-color: #333333;
        border-top-left-radius: 50%; 
        border-bottom-left-radius: 50%;    
        box-shadow: -10px 0px 10px #888888;

    }
    .category-container-main{
        margin: 0;
        padding: 0;
    }
    .category-container {
        transition: transform 0.5s ease-out; /* Add a smooth transition for the transform property */
    }
    
    .parallax {
        transform: translateY(50%);
    }

    
    .product .product-image {
        transition: opacity 0.4s ease;
    }
    
    .product:hover .product-image {
        opacity: 0;
    }
    
    .product-7 {
        border-radius: 5px;
        transition: box-shadow 0.3s ease; /* Adding a smooth transition effect */
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
      }
  
      .product-7:hover {
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
      }
    

   
    @media (max-width: 768px) {
      .banner-custom {
        padding: 2rem 2rem;
        height: auto;
      }

      .banner-img img {
        width: 30rem;
        height: 20rem;
        object-fit: scale-down;
      }
      .category-row{
        flex-direction: column; /* Stack items vertically on small screens */
        align-items: flex-start;
      }

      .product:hover .product-image {
        visibility: hidden;
    }

      
    }

  </style>


<main class="main">
    <div class="container-fluid">
        <div class="container-fluid banner-custom">
            <div class="row align-items-center" > 
              <div class="col-lg-6">
                <h1 class="title" style="color: white; font-size: 4rem;">Find parts for your <span style="font-size: 6rem;">Motorcycle</span></h1>
              </div>
              <div class="col-lg-6 form-section " style="max-width: 90vw;">
                <form>
                  <div class="form-group">
                    <label for="make">Make</label>
                    <select class="form-control" id="make">
                      <option value="sports-bike">Sports Bike</option>
                      <option value="cruiser">Cruiser</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="model">Model</label>
                    <select class="form-control" id="model">
                      <option value="sports-bike">Sports Bike</option>
                      <option value="cruiser">Cruiser</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="year">Year</label>
                    <select class="form-control" id="year">
                      <option value="sports-bike">Sports Bike</option>
                      <option value="cruiser">Cruiser</option>
                    </select>
                  </div>
                  <button type="submit" class="btn btn-primary">Search</button>
                </form>
              </div>
            </div>
          </div> <!-- End .banner-custom -->
        
          <br class="mb-2">

          <div class="category-container-main">
            <div class="category-row p-2">
                {% if banner1_category %}
                {% for category in banner1_category %}
                <div class="col-md-6 col-lg-6 category-container">
                    <div class="text p-3">
                        <h3 class="banner-custom-title">Shop <br><span>{{ category.name }}</span></h3>
                        <a href="{{ category.get_absolute_url }}" class="btn btn-primary btn-rounded">Shop Now<span><i class="icon-long-arrow-right"></i></span></a>
                    </div>
                    <div class="banner-img">
                        {% if category.image %}
                            <img src="{{ category.image.url }}" alt="{{ category.name }}">
                        {% else %}
                            <!-- Your default image or alternative content goes here -->
                            <p>No Image Available</p>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        
            <div class="category-row p-2">
                {% if banner2_category %}
                {% for category in banner2_category %}
                <div class="col-md-6 col-lg-6 category-container">
                    <div class="text p-3">
                        <h3 class="banner-custom-title">Shop <br><span>{{ category.name }}</span></h3>
                        <a href="{{ category.get_absolute_url }}" class="btn btn-primary btn-rounded">Shop Now<span><i class="icon-long-arrow-right"></i></span></a>
                    </div>
                    <div class="banner-img">
                        {% if category.image %}
                            <img src="{{ category.image.url }}" alt="{{ category.name }}">
                        {% else %}
                            <!-- Your default image or alternative content goes here -->
                            <p>No Image Available</p>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>

        

    <div class="bg-light-2 pt-6 featured">
        <div class="container-fluid">
            <div class="heading heading-center mb-5">
                <h2>FEATURED <span class="color-text">PRODUCTS</span></h2><!-- End .title -->
            </div><!-- End .heading -->

                <div class="tab-pane p-0" id="featured-women-tab" >
                    <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl"
                        data-owl-options='{
                            "nav": false, 
                            "dots": true,
                            "margin": 20,
                            "loop": true,
                            "responsive": {
                                "0": {
                                    "items":2
                                },
                                "480": {
                                    "items":2
                                },
                                "768": {
                                    "items":3
                                },
                                "992": {
                                    "items":4
                                },
                                "1200": {
                                    "items":5,
                                    "nav": true
                                }
                            }
                        }'>

                        {% for product in featured_products %}
                        <div class="product product-7 text-center">
                            <figure class="product-media" style="background-color: white;">
                                <a href="{{ product.get_absolute_url }}">
                                    {% if product.images.all %}
                                        {% for image in product.images.all %}
                                            {% if image.is_featured %}
                                                <img src="{{ image.image.url }}" alt="{{ image.alt_text }}" class="product-image">
                                                {% else %}
                                                <img src="{{ product.images.all.1.image.url }}" alt="{{ product.images.all.2.alt_text }}" class="product-image-hover">
                                            {% endif %}   
                                        {% endfor %}
                                    {% endif %}
                                </a>

                                <div class="product-action-vertical">
                                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to
                                            wishlist</span></a>
                                    <a href="popup/quickView.html" class="btn-product-icon btn-quickview"
                                        title="Quick view"><span>Quick view</span></a>
                                </div><!-- End .product-action-vertical -->

                                <div class="product-action">
                                    <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                </div><!-- End .product-action -->
                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <h3 class="product-title"><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h3>
                                <!-- End .product-title -->
                                {% if product.variations.all %}
                                <div class="product-price">
                                    {% if product.variations.first.has_offer %}
                                        <span class="old-price">${{ product.variations.first.price }}</span>
                                        <span class="new-price">${{ product.variations.first.offer_price }}</span>
                                        
                                    {% else %}
                                        <span>${{ product.variations.first.price }}</span>
                                    {% endif %}
                                </div><!-- End .product-price -->
                            {% endif %}
                            </div><!-- End .product-body -->
                        </div><!-- End .product -->
                        {% endfor %}
                    </div><!-- End .owl-carousel -->
                </div><!-- .End .tab-pane -->
                <div class="more-container text-center mt-2">
                    <a href="#" class="btn btn-outline-dark-3 btn-more"><span>Load more</span><i
                            class="icon-long-arrow-right"></i></a>
                </div><!-- End .more-container -->
        </div><!-- End .container-fluid -->
    </div><!-- End .bg-light-2 pt-4-->

    <div class="container-fluid">
        <div class="heading heading-center mb-3">
            <h2 >NEW <span class="color-text">ARRIVALS</span></h2><!-- End .title -->

        </div><!-- End .heading -->

            <div class="tab-pane p-0 fade show active" id="new-women-tab" role="tabpanel"
                aria-labelledby="new-women-link">
                
                <div class="products">
                    <div class="row justify-content-center">
                        {% for product in products  %}

                        <div class="col-6 col-md-4 col-lg-3 col-xl-5col">
                            <div class="product product-7 text-center">
                                <figure class="product-media" style="background-color: white;">
                                    {% if product.variations.first.has_offer %}
                                    <span class="product-label label-circle label-sale">Sale</span>
                                    {% endif %}
                                    <a href="{{ product.get_absolute_url }}">
                                        {% if product.images.all %}
                                            {% for image in product.images.all %}
                                                {% if image.is_featured %}
                                                    <img src="{{ image.image.url }}" alt="{{ image.alt_text }}" class="product-image">
                                                    {% else %}
                                                    <img src="{{ product.images.all.1.image.url }}" alt="{{ product.images.all.2.alt_text }}" class="product-image-hover">
                                                {% endif %}   
                                            {% endfor %}
                                        {% endif %}
                                    </a>

                                    <div class="product-action-vertical">
                                        <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to
                                                wishlist</span></a>
                                    </div><!-- End .product-action-vertical -->

                                    <div class="product-action">
                                        <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                    </div><!-- End .product-action -->
                                </figure><!-- End .product-media -->

                                <div class="product-body">
                                    <h3 class="product-title"><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h3>
                                    <!-- End .product-title -->
                                    {% if product.variations.all %}
                                        <div class="product-price">
                                            {% if product.variations.first.has_offer %}
                                                <span class="old-price">${{ product.variations.first.price }}</span>
                                                <span class="new-price">${{ product.variations.first.offer_price }}</span>
                                                
                                            {% else %}
                                                <span>${{ product.variations.first.price }}</span>
                                            {% endif %}
                                        </div><!-- End .product-price -->
                                    {% endif %}

                                    <div class="ratings-container">
                                        <div class="ratings">
                                            <div class="ratings-val" style="width: 40%;"></div><!-- End .ratings-val -->
                                        </div><!-- End .ratings -->
                                        <span class="ratings-text">( 4 Reviews )</span>
                                    </div><!-- End .rating-container -->
                                </div><!-- End .product-body -->
                            </div><!-- End .product -->

                        </div><!-- End .col-sm-6 col-md-4 col-lg-3 -->
                        {% endfor %}

                    </div><!-- End .row -->
                </div><!-- End .products -->

            </div><!-- .End .tab-pane -->

        <div class="more-container text-center mt-2">
            <a href="#" class="btn btn-outline-dark-3 btn-more"><span>Load more</span><i
                    class="icon-long-arrow-right"></i></a>
        </div><!-- End .more-container -->

        <hr class="mt-0 mb-6">

      
<div class="brands-border owl-carousel owl-simple" data-toggle="owl" data-owl-options='{
    "nav": false, 
    "dots": false,
    "margin": 0,
    "loop": true,
    "responsive": {
        "0": {
            "items":2
        },
        "420": {
            "items":3
        },
        "600": {
            "items":4
        },
        "900": {
            "items":5
        },
        "1024": {
            "items":6
        },
        "1360": {
            "items":7
        }
    }
}'>
    {% for vendor in vendors %}
        {% if vendor.image %}
            <a href="{{ vendor.get_absolute_url }}" class="brand">
                <img src="{{ vendor.image.url }}" alt="{{ vendor.name }}" style="object-fit: contain; max-width: 100%; max-height: 100%;">
                
            </a>
        {% endif %}
    {% endfor %}
</div><!-- End .owl-carousel -->

    
</main><!-- End .main -->

<script>
    document.addEventListener("scroll", function() {
        const categoryContainers = document.querySelectorAll('.category-container');
    
        categoryContainers.forEach(function(container) {
            const rect = container.getBoundingClientRect();
            const translateY = Math.max(0, Math.min(rect.top, window.innerHeight - rect.height)) / 10;
    
            container.style.transform = `translateY(${translateY}px)`;
        });
    });
    

</script>


{% endblock %}