{% extends 'base.html' %}
{%  load static %}
{% load category_tree %}


{% block title %}Power Enough Store.. {% endblock %}
{% block content %}

<style>



    .container-map {
        max-width: 100%;
        margin: 0 auto;
    }
    #map { 
        width: 100%; 
        height: 400px; 
        margin-top: 20px;
    }
    .map-title {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
        text-align: center;
        color: #333;
    }

    .popup-title {
        font-weight: bold;
        font-size: 16px;
        color: black;
    }
    .popup-title span{
        color: #389646;
    }


    .title-main {
        position: relative;
        display: inline-block;
    }

    .title-main:after {
        content: "";
        position: absolute;
        bottom: -3px; /* Adjust this value to control the thickness of the underline */
        left: 0;
        width: 100%;
        height: 2px; /* Adjust this value to control the thickness of the underline */
        background-image: linear-gradient(to right, #389646 50%, #000 50%);
        background-size: 200% 100%;
        background-position: right bottom;
        background-repeat: no-repeat;
        transition: background-position 0.3s ease;
    }

    .title-main:hover:after {
        background-position: left bottom;
    }

    .color-text {
        color: #389646;
    }

    .banner-custom {
      background-image: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.2),
            rgba(1, 1, 1, 0.8)
          ), url('{% static "images/banners/ninja.jpg" %}');      
      background-size: cover;
      background-position: center center;
      text-align: center;
      padding: 10rem 5rem;  
      height: 80vh; 
      background-color: rgba(1, 1, 1, 0.9); 
    }

    .banner-custom span {
        color: #389646;
    }
  

    .form-section {
      background-color: rgba(1, 1, 1, 0.8);
      padding: 20px;
      border-radius: 10px;
    }

    .banner-custom-title{
        font-size:2rem;
        color: black;
    }

    .banner-custom-title span{
        font-size:4rem;
    }


    .banner-custom-title span{
        color: #389646;
    }

    .category-row{
        display: flex;
p       overflow-x: hidden;

    }

  

    .banner-img img {
        width: 28rem;
        height: 25rem;
        object-fit: scale-down;

      }
      


    .category-container {
        padding-right: 0;
        padding-left: 5rem;
        margin-top: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.5); /* Add a subtle box shadow */

    }

    .banner-img{
        background-color: #333333;
        border-top-left-radius: 50%; 
        border-bottom-left-radius: 50%;    
        box-shadow: -10px 0px 10px #888888;

    }
    .category-container-main{
        margin: 0;
        padding: 0;
    }
    .category-container {
        transition: transform 0.5s ease-out; /* Add a smooth transition for the transform property */
    }
    
    .parallax {
        transform: translateY(50%);
    }

    
    .product .product-image {
        transition: opacity 0.4s ease;
    }
    
    .product:hover .product-image {
        opacity: 0;
    }
    
    .product-7 {
        border-radius: 5px;
        transition: box-shadow 0.3s ease; /* Adding a smooth transition effect */
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
      }
  
      .product-7:hover {
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
      }



   
    @media (max-width: 768px) {
      .banner-custom {
        padding: 2rem 2rem;
        height: auto;
      }

      .banner-img img {
        width: 30rem;
        height: 20rem;
        object-fit: scale-down;
      }
      .category-row{
        flex-direction: column; /* Stack items vertically on small screens */
        align-items: flex-start;
      }

      .product:hover .product-image {
        visibility: hidden;
    }

      
    }

  </style>
  


<main class="main">
    <div class="container-fluid">
        <div class="container-fluid banner-custom">
            <div class="row align-items-center" > 
              <div class="col-lg-6">
                <h1 class="title" style="color: white; font-size: 4rem;">Find parts for your <span style="font-size: 6rem;">Motorcycle</span></h1>
              </div>
              <div class="col-lg-6 form-section " style="max-width: 90vw;">
                <form id="bike-filter-form" action="{% url 'store:bike_products' %}" method="GET">
                    <div class="form-group">
                        <label for="make">Make</label>
                        <select class="form-control" id="make" name="make" required>
                            <option value="">Select Make</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="model">Model</label>
                        <select class="form-control" id="model" name="model" disabled required>
                            <option value="">Select Model</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="year">Year</label>
                        <select class="form-control" id="year" name="year" disabled required>
                            <option value="">Select Year</option>
                        </select>
                    </div>
                    <button type="submit" id="search-btn" class="btn btn-primary">Search</button>
                </form>
                
              </div>
            </div>
          </div> <!-- End .banner-custom -->
        
          <br class="mb-2">

          <div class="category-container-main">
            <div class="category-row p-2">
                {% if banner1_category %}
                {% for category in banner1_category %}
                <div class="col-md-6 col-lg-6 category-container">
                    <div class="text p-3">
                        <h3 class="banner-custom-title">Shop <br><span>{{ category.name }}</span></h3>
                        <a href="{{ category.get_absolute_url }}" class="btn btn-primary btn-rounded">Shop Now<span><i class="icon-long-arrow-right"></i></span></a>
                    </div>
                    <div class="banner-img">
                        {% if category.image %}
                            <img src="{{ category.image.url }}" alt="{{ category.name }}">
                        {% else %}
                            <!-- Your default image or alternative content goes here -->
                            <p>No Image Available</p>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        
            <div class="category-row p-2">
                {% if banner2_category %}
                {% for category in banner2_category %}
                <div class="col-md-6 col-lg-6 category-container">
                    <div class="text p-3">
                        <h3 class="banner-custom-title">Shop <br><span>{{ category.name }}</span></h3>
                        <a href="{{ category.get_absolute_url }}" class="btn btn-primary btn-rounded">Shop Now<span><i class="icon-long-arrow-right"></i></span></a>
                    </div>
                    <div class="banner-img">
                        {% if category.image %}
                            <img src="{{ category.image.url }}" alt="{{ category.name }}">
                        {% else %}
                            <!-- Your default image or alternative content goes here -->
                            <p>No Image Available</p>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>

        

    <div class="bg-light-2 pt-6 featured">
        <div class="container-fluid">
            <div class="heading heading-center mb-5">
                <h2 class="title-main">FEATURED <span class="color-text">PRODUCTS</span></h2><!-- End .title -->
            </div><!-- End .heading -->

                <div class="tab-pane p-0" id="featured-women-tab" >
                    <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl"
                        data-owl-options='{
                            "nav": false, 
                            "dots": true,
                            "margin": 20,
                            "loop": true,
                            "responsive": {
                                "0": {
                                    "items":2
                                },
                                "480": {
                                    "items":2
                                },
                                "768": {
                                    "items":3
                                },
                                "992": {
                                    "items":4
                                },
                                "1200": {
                                    "items":5,
                                    "nav": true
                                }
                            }
                        }'>

                        {% for product in featured_products %}
                        <div class="product product-7 text-center">
                            <figure class="product-media" style="background-color: white;">
                                {% if product.has_offer %}
                                <span class="product-label label-circle label-sale">Sale</span>
                                {% endif %}
                                <a href="{{ product.get_absolute_url }}">
                                    {% if product.images.all %}
                                        {% for image in product.images.all %}
                                            {% if image.is_featured %}
                                                <img src="{{ image.image.url }}" alt="{{ image.alt_text }}" class="product-image">
                                                {% else %}
                                                <img src="{{ product.images.all.1.image.url }}" alt="{{ product.images.all.2.alt_text }}" class="product-image-hover">
                                            {% endif %}   
                                        {% endfor %}
                                    {% endif %}
                                </a>

                                 <div class="product-action-vertical">
                                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to
                                            wishlist</span></a>
                                    
                                </div><!-- End .product-action-vertical --> 

                                {% comment %} <div class="product-action">
                                    <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                </div><!-- End .product-action --> {% endcomment %}
                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <h3 class="product-title"><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h3>
                                <!-- End .product-title -->
                                <div class="product-price">
                                    {% if product.has_offer %}
                                        <span class="old-price">${{ product.price }}</span>
                                        <span class="new-price">${{ product.offer_price }}</span>
                                        
                                    {% else %}
                                        <span>${{ product.price }}</span>
                                    {% endif %}
                                </div><!-- End .product-price -->
                            </div><!-- End .product-body -->
                        </div><!-- End .product -->
                        {% endfor %}
                    </div><!-- End .owl-carousel -->
                </div><!-- .End .tab-pane -->
                {% comment %} <div class="more-container text-center mt-2">
                    <a href="#" class="btn btn-outline-dark-3 btn-more"><span>Load more</span><i
                            class="icon-long-arrow-right"></i></a>
                </div><!-- End .more-container --> {% endcomment %}
        </div><!-- End .container-fluid -->
    </div><!-- End .bg-light-2 pt-4-->

    <div class="container-fluid">
        <div class="heading heading-center mb-3 mt-3">
            <h2 class="title-main">NEW <span class="color-text">ARRIVALS</span></h2><!-- End .title -->


        </div><!-- End .heading -->

            <div class="tab-pane p-0 fade show active" id="new-women-tab" role="tabpanel"
                aria-labelledby="new-women-link">
                
                <div class="products">
                    <div class="row justify-content-center">
                        {% for product in new_products  %}

                        <div class="col-6 col-md-4 col-lg-3 col-xl-5col">
                            <div class="product product-7 text-center">
                                <figure class="product-media" style="background-color: white;">
                                    {% if product.has_offer %}
                                    <span class="product-label label-circle label-sale">Sale</span>
                                    {% endif %}
                                    <a href="{{ product.get_absolute_url }}">
                                        {% if product.images.all %}
                                            {% for image in product.images.all %}
                                                {% if image.is_featured %}
                                                    <img src="{{ image.image.url }}" alt="{{ image.alt_text }}" class="product-image">
                                                    {% else %}
                                                    <img src="{{ product.images.all.1.image.url }}" alt="{{ product.images.all.2.alt_text }}" class="product-image-hover">
                                                {% endif %}   
                                            {% endfor %}
                                        {% endif %}
                                    </a>

                                    <div class="product-action-vertical">
                                        <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to
                                                wishlist</span></a>
                                    </div><!-- End .product-action-vertical -->

                                    {% comment %} <div class="product-action">
                                        <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                    </div><!-- End .product-action --> {% endcomment %}
                                </figure><!-- End .product-media -->

                                <div class="product-body">
                                    <h3 class="product-title"><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h3>
                                    <!-- End .product-title -->
                                        <div class="product-price">
                                            {% if product.has_offer %}
                                                <span class="old-price">${{ product.price }}</span>
                                                <span class="new-price">${{ product.offer_price }}</span>
                                                
                                            {% else %}
                                                <span>${{ product.price }}</span>
                                            {% endif %}
                                        </div><!-- End .product-price -->

                                    <div class="ratings-container">
                                        <div class="ratings">
                                            <div class="ratings-val" style="width: 40%;"></div><!-- End .ratings-val -->
                                        </div><!-- End .ratings -->
                                        <span class="ratings-text">( 4 Reviews )</span>
                                    </div><!-- End .rating-container -->
                                </div><!-- End .product-body -->
                            </div><!-- End .product -->

                        </div><!-- End .col-sm-6 col-md-4 col-lg-3 -->
                        {% endfor %}

                    </div><!-- End .row -->
                </div><!-- End .products -->

            </div><!-- .End .tab-pane -->

        <div class="more-container text-center mt-2">
            <a href="#" class="btn btn-outline-dark-3 btn-more"><span>Load more</span><i
                    class="icon-long-arrow-right"></i></a>
        </div><!-- End .more-container -->

        {% comment %} <hr class="mt-0 mb-6"> {% endcomment %}

      
<div class="brands-border owl-carousel owl-simple" data-toggle="owl" data-owl-options='{
    "nav": false, 
    "dots": false,
    "margin": 0,
    "loop": true,
    "responsive": {
        "0": {
            "items":2
        },
        "420": {
            "items":3
        },
        "600": {
            "items":4
        },
        "900": {
            "items":5
        },
        "1024": {
            "items":6
        },
        "1360": {
            "items":7
        }
    }
}'>
    {% for vendor in vendors %}
        {% if vendor.image %}
            <a href="{{ vendor.get_absolute_url }}" class="brand">
                <img src="{{ vendor.image.url }}" alt="{{ vendor.name }}" style="object-fit: contain; max-width: 100%; max-height: 100%;">
                
            </a>
        {% endif %}
    {% endfor %}
</div><!-- End .owl-carousel -->


<!--  contact us  -->
<div class="container">
    <div class="page-header text-center" style="background-color: white;">
        <h1 class="page-title">Get in touch with us</h1>
    </div><!-- End .page-header -->
</div><!-- End .container -->

<div class="page-content pb-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-2 mb-lg-0">
                <h2 class="title mb-1">Contact Information</h2><!-- End .title mb-2 -->
                <p class="mb-3">Feel free to reach out to us with any questions, feedback, or inquiries. We're here to help!</p>
                
                <div class="row">
                    <div class="col-sm-7">
                        <div class="contact-info">
                            <h3>The Office</h3>

                            <ul class="contact-list">
                                <li>
                                    <i class="icon-map-marker"></i>
                                    {% if owner.address %}
                                    {{ owner.address }}
                                    {% if owner.city %}, {{ owner.city }}{% endif %}
                                    {% if owner.country %}, {{ owner.country }}{% endif %}
                                    {% if owner.zip_code %} {{ owner.zip_code }}{% endif %} 
                                    {% endif %}                               
                                </li>
                                {% if owner.phone_number %}
                                <li>
                                    <i class="icon-phone"></i>
                                    <a href="tel:{{ owner.phone_number }}">{{ owner.phone_number }}</a>
                                </li>
                                {% endif %}
                                {% if owner.email %}
                                <li>
                                    <i class="icon-envelope"></i>
                                    <a href="mailto:{{ owner.email }}">{{ owner.email }}</a>
                                </li>
                                {% endif %}
                            </ul><!-- End .contact-list -->
                        </div><!-- End .contact-info -->
                    </div><!-- End .col-sm-7 -->

                    <div class="col-sm-5">
                        <div class="contact-info">
                            <h3>Office Hours</h3>

                            <ul class="contact-list">
                                <li>
                                    <i class="icon-clock-o"></i>
                                    <span class="text-dark">Monday-Saturday</span> <br>09:00am-09:00pm IST
                                </li>
                                <li>
                                    <i class="icon-calendar"></i>
                                    <span class="text-dark">Sunday</span> <br>09:00am-09:00pm IST
                                </li>
                            </ul><!-- End .contact-list -->
                        </div><!-- End .contact-info -->
                    </div><!-- End .col-sm-5 -->
                </div><!-- End .row -->
            </div><!-- End .col-lg-6 -->
            <div class="col-lg-6">
                <h2 class="title mb-1">Got Any Questions?</h2>
                <p class="mb-2">Use the form below to get in touch with us</p>
            
                <form id="contact-form" class="contact-form mb-3">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-6">
                            <input type="text" name="name" class="form-control" placeholder="Name *" required>
                        </div><!-- End .col-sm-6 -->
            
                        <div class="col-sm-6">
                            <input type="email" name="email" class="form-control" placeholder="Email *" required>
                        </div><!-- End .col-sm-6 -->
                    </div><!-- End .row -->
            
                    <div class="row">
                        <div class="col-sm-12">
                            <input type="tel" name="phone" class="form-control" placeholder="Phone">
                        </div><!-- End .col-sm-12 -->
                    </div><!-- End .row -->
            
                    <textarea name="message" class="form-control" cols="30" rows="4" required placeholder="Message *"></textarea>
            
                    <button type="submit" class="btn btn-outline-primary-2 btn-minwidth-sm">
                        <span>SUBMIT</span>
                        <i class="icon-long-arrow-right"></i>
                    </button>
                </form><!-- End .contact-form -->
                <div class="modal" id="progressModal" tabindex="-1" aria-labelledby="progressModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-body text-center">
                                <div class="spinner-border text-primary" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                                <p class="mt-2">Sending message...</p>
                            </div>
                        </div>
                    </div>
                </div>  
                <div id="status-message" style="display: none;" class="alert alert-success mt-3">Your message has been sent successfully!</div>
              
            </div><!-- End .col-lg-6 -->
        </div><!-- End .row -->

        <hr class="mt-4 mb-5">

      
    </div><!-- End .container -->
</div><!-- End .page-content -->


    
<div class="container-map  m-5">
    <div id="map"></div>

    
</div>




{% comment %} <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3939.1939064741428!2d76.62452006715257!3d9.136952236541122!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b061abdaa3da537%3A0xcd36c3e42f87e9a1!2sAnayadi%2C%20Thamarakulam%2C%20Kerala%20690530!5e0!3m2!1sen!2sin!4v1715235833297!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> {% endcomment %}


    
</main><!-- End .main -->

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script>
    // Specify the latitude and longitude for your location
    var latitude = 9.134833;
    var longitude = 76.627056;

    // Initialize the map
    var map = L.map('map').setView([latitude, longitude], 13);

    // Add a tile layer
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    // Add a marker for the specified location with a title
    L.marker([latitude, longitude]).addTo(map)
        .bindPopup('<div class="popup-title"><span>Power Enough</span> Performance Store <br>Anayadi</div>')
        .openPopup();

    // Resize the map when the window is resized
    window.addEventListener('resize', function() {
        map.invalidateSize(); // This re-adjusts the map size
    });
</script>

<script>
    document.addEventListener("scroll", function() {
        const categoryContainers = document.querySelectorAll('.category-container');
    
        categoryContainers.forEach(function(container) {
            const rect = container.getBoundingClientRect();
            const translateY = Math.max(0, Math.min(rect.top, window.innerHeight - rect.height)) / 10;
    
            container.style.transform = `translateY(${translateY}px)`;
        });
    });
    

</script>
<script>
    $(document).ready(function() {
        // Load makes on page load
        loadMakes();

        $('#make').change(function() {
            var make = $(this).val();
            loadModels(make);
        });

        $('#model').change(function() {
            var make = $('#make').val();
            var model = $(this).val();
            loadYears(make, model);
        });

        function loadMakes() {
            $.ajax({
                url: '/fetch-makes/',
                method: 'GET',
                success: function(data) {
                    $('#make').html('<option value="">Select Make</option>'); // Clear existing options
                    $.each(data, function(index, make) {
                        $('#make').append('<option value="' + make + '">' + make + '</option>');
                    });
                    $('#make').prop('disabled', false); // Enable make dropdown
                }
            });
        }

        function loadModels(make) {
            $.ajax({
                url: '/fetch-models/',
                method: 'GET',
                data: { make: make },
                success: function(data) {
                    $('#model').html('<option value="">Select Model</option>'); // Clear existing options
                    $.each(data, function(index, model) {
                        $('#model').append('<option value="' + model + '">' + model + '</option>');
                    });
                    $('#model').prop('disabled', false); // Enable model dropdown
                    $('#year').html('<option value="">Select Year</option>'); // Clear year options
                    $('#year').prop('disabled', true); // Disable year dropdown
                }
            });
        }

        function loadYears(make, model) {
            $.ajax({
                url: '/fetch-years/',
                method: 'GET',
                data: { make: make, model: model },
                success: function(data) {
                    $('#year').html('<option value="">Select Year</option>'); // Clear existing options
                    $.each(data, function(index, year) {
                        $('#year').append('<option value="' + year + '">' + year + '</option>');
                    });
                    $('#year').prop('disabled', false); // Enable year dropdown
                }
            });
        }

    });

    $('#bike-filter-form').submit(function(event) {
        
    });
</script>


<!-- contact form submit -->
{% comment %} <script>
    $(document).ready(function(){
        $('#contact-form').submit(function(e){
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '{% url 'store:contact_form' %}',
                data: $('#contact-form').serialize(),
                success: function(response) {
                    if (response.success) {
                        alert('Your message has been sent successfully!');
                    } else {
                        alert('Failed to send message.');
                    }
                },
                error: function() {
                    alert('Failed to send message.');
                }
            });
        });
    });
    </script> {% endcomment %}
    
    <script>
        $(document).ready(function(){
            $('#contact-form').submit(function(e){
                e.preventDefault();
                $('#progressModal').modal('show'); // Show modal
        
                $.ajax({
                    type: 'POST',
                    url: '{% url 'store:contact_form' %}',
                    data: $('#contact-form').serialize(),
                    success: function(response) {
                        $('#progressModal').modal('hide'); // Hide modal
                        if (response.success) {
                            // Show success message
                            $('#status-message').html('Your message has been sent successfully!').fadeIn().fadeOut(3000);
                            // Reset form
                            $('#contact-form')[0].reset();
                        } else {
                            // Show error message
                            $('#status-message').html('<p class="alert alert-danger">Failed to send message. Please try again later.</p>').fadeIn();
                        }
                    },
                    error: function() {
                        $('#progressModal').modal('hide'); // Hide modal
                        // Show error message
                        $('#status-message').html('<p class="alert alert-danger">Failed to send message. Please try again later.</p>').fadeIn();
                    }
                });
            });
        });
        </script>
        


{% endblock %}