{% extends 'base.html' %}
{% load static %}
{% block title %}
  Sign in or Sign Up
{% endblock %}

{% block content %}

  <main class="main">
    <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
      <div class="container">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'store:homepage' %}">Home</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            <a href="{% url 'account:signin' %}">Login</a>
          </li>
        </ol>
      </div>
      <!-- End .container -->
    </nav>
    <!-- End .breadcrumb-nav -->

    <div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17" style="background-image: url('{% static 'images/backgroundsignin.jpg' %}');">
      <div class="container">
        <div class="form-box">
          <div class="form-tab">
            <div class="form-tab">
              <ul class="nav nav-pills nav-fill" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="signin-tab-2" data-toggle="tab" role="tab" aria-selected="true">Sign In</a>
                </li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane fade show active" id="signin-2" role="tabpanel" aria-labelledby="signin-tab-2">
                    <form method="post" action="{% url 'account:signin' %}">
                        {% csrf_token %}
                        <input type="hidden" name="form_type" value="signin" />
                    
                        {% if messages %}
                            <div class="alert alert-danger">
                                {% for message in messages %}
                                    {{ message }}
                                {% endfor %}
                            </div>
                        {% endif %}
                    
                        <div class="form-group">
                            <label for="singin-email-2">Email *</label>
                            <input type="text" class="form-control" id="singin-email-2" name="email"  />
                        </div>
                    
                        <div class="form-group">
                            <label for="singin-password-2">Password *</label>
                            <input type="password" class="form-control" id="singin-password-2" name="password"  />
                        </div>
                    
                        <a href="{% url 'account:password_reset' %}" class="forgot-link" style="color: blue;">Forgot Your Password?</a>
                    
                        <div class="form-footer">
                            <button type="submit" class="btn btn-outline-primary-2 submit-button ">
                                <span>LOG IN</span>
                                <i class="icon-long-arrow-right"></i>
                            </button>
                        </div>
                        <!-- End .form-footer -->
                    </form>
                    
                  

                  <div class="form-choice">
                    <p class="text-center">or sign in with</p>
                    <p class="text-center mt-3">
                        Don't have an account? <a href="{% url 'account:signup' %}">Sign up here</a>.
                    </p>
                    <div class="row">
                      <div class="col-sm-6">
                        <a href="#" class="btn btn-login btn-g">
                          <i class="icon-google"></i>
                          Login With Google
                        </a>
                      </div>
                      <!-- End .col-6 -->
                      <div class="col-sm-6">
                        <a href="#" class="btn btn-login btn-f">
                          <i class="icon-facebook-f"></i>
                          Login With Facebook
                        </a>
                      </div>
                      <!-- End .col-6 -->
                    </div>
                    <!-- End .row -->
                  </div>
                  <!-- End .form-choice -->
                </div>
                <!-- .End .tab-pane -->
              </div>
              <!-- End .tab-content -->
            </div>
            <!-- End .form-tab -->
          </div>
          <!-- End .form-tab -->
          <!-- End .form-box -->
        </div>
        <!-- End .container -->
      </div>
    </div>
    <!-- End .login-page section-bg -->
  </main>
  <!-- End .main -->

  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <style>
      .shake {
        animation: shake .5s;

      }

      .error-color {
        background-color: red !important;
        border-color: red !important;

    }

      @keyframes shake {
        10%, 90% {
          transform: translateX(-5px);
        }

        20%, 80% {
          transform: translateX(5px);
        }

        30%, 50%, 70% {
          transform: translateX(-5px);
        }

        40%, 60% {
          transform: translateX(5px);
        }
      }
    </style>

    <script>
      $(document).ready(function () {
          var isEmailValid = false;
          var isPasswordValid = false;
  
          // Email input field
          $('#singin-email-2').on('input', function () {
              validateEmail();
          });
  
          // Password input field
          $('#singin-password-2').on('input', function () {
              validatePassword();
          });
  
          // Form submission with shaking effect and color change
          $('.submit-button').on('click', function () {
              // Trigger email and password validation
              validateEmail();
              validatePassword();
  
              // Check if both email and password are valid
              if (isEmailValid && isPasswordValid) {
                  // Submit the form
                  $('form').submit();
              } else {
                  // Add the 'shake' class to the submit button
                  $('.submit-button').addClass('shake');
  
                  // Add a class to change the button color to red
                  $('.submit-button').addClass('error-color');
  
                  // Remove the 'shake' class and color class after the animation ends
                  setTimeout(function () {
                      $('.submit-button').removeClass('shake error-color');
                  }, 500); // Duration of the shake animation (in milliseconds)
  
                  // Prevent the page from reloading
                  return false;
              }
          });
  
          function validateEmail() {
              var emailInput = $('#singin-email-2');
              var emailValue = emailInput.val();
  
              // Check if the entered email is valid (you can customize this regex)
              var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
              isEmailValid = emailRegex.test(emailValue);
  
              // Update border color and weight based on validation
              emailInput.css({
                  'border-color': isEmailValid ? 'green' : 'red',
                  'border-width': '2px'
              });
          }
  
          function validatePassword() {
              var passwordInput = $('#singin-password-2');
              var passwordValue = passwordInput.val();
  
              // Check if the entered password meets the criteria
              var hasLetter = /[a-zA-Z]/.test(passwordValue);
              var hasNumber = /\d/.test(passwordValue);
              var hasSpecialCharacter = /[!@#$%^&*(),.?":{}|<>]/.test(passwordValue);
  
              // Check if at least two types of characters are present
              var typesCount = [hasLetter, hasNumber, hasSpecialCharacter].filter(Boolean).length;
              isPasswordValid = passwordValue.length >= 8 && typesCount >= 2;
  
              // Update border color and weight based on validation
              passwordInput.css({
                  'border-color': isPasswordValid ? 'green' : 'red',
                  'border-width': '2px'
              });
          }
      });
  </script>
  
  
    
    
    

{% endblock %}
