{% extends 'base.html' %}
{% load static %}
{% block title %}
  Sign in or Sign Up
{% endblock %}

{% block content %}
  <main class="main">
    <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
      <div class="container">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'store:homepage' %}">Home</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            <a href="{% url 'account:signup' %}">Login</a>
          </li>
        </ol>
      </div>
      <!-- End .container -->
    </nav>
    <!-- End .breadcrumb-nav -->

    <div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17" style="background-image: url('{% static 'images/backgroundsignin.jpg' %}');">
      <div class="container">
        <div class="form-box">
          <div class="form-tab">
            <div class="form-tab">
              <ul class="nav nav-pills nav-fill" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="register-tab-2" data-toggle="tab" role="tab" aria-selected="true">Register</a>
                </li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane fade show active" id="register-2" role="tabpanel">
                  <form method="post" action="{% url 'account:signup' %}">
                    {% csrf_token %}
                    <input type="hidden" name="form_type" value="signup" />

                    {{ form_signup.non_field_errors }}
                    <div class="form-group">
                      <label for="register-email-2">Your email address *</label>
                      <error style="color: red;">{{ form_signup.email.errors }}</error>
                      {{ form_signup.email }}
                      
                    </div>
                    <div class="form-group">
                      <label for="register-username-2">Your username *</label>
                      <error style="color: red;"> {{ form_signup.username.errors }}</error>

                      {{ form_signup.username }}
                     
                    </div>
                    <div class="form-group">
                      <label for="register-full_name-2">Your full name *</label>
                      <error style="color: red;">{{ form_signup.full_name.errors }}</error>

                      {{ form_signup.full_name }}
                      
                    </div>
                    <div class="form-group">
                      <label for="register-phone_number-2">Your phone number *</label>
                      <error style="color: red;">{{ form_signup.phone_number.errors }}</error>

                      {{ form_signup.phone_number }}
                      
                    </div>
                    
                    <div class="form-group">
                      <label for="register-password-2">Password *</label>
                      <error style="color: red;">{{ form_signup.password1.errors }}</error>

                      {{ form_signup.password1 }}
                      
                    </div>
                    <div class="form-group">
                      <label for="register-password-2">Confirm Password *</label>
                      <error style="color: red;">{{ form_signup.password2.errors }}</error>

                      {{ form_signup.password2 }}
                      
                    </div>

                    {% comment %} <div class="form-group">
                      {{ form_signup.register - policy - 2 }}
                      <label class="custom-control-label" for="register-policy-2">I agree to the <a href="#">privacy policy</a> *</label>
                      {{ form_signup.register - policy - 2.errors }}
                    </div> {% endcomment %}

                    <div class="form-footer">
                      <button type="submit" class="btn btn-outline-primary-2">
                        <span>SIGN UP</span>
                        <i class="icon-long-arrow-right"></i>
                      </button>
                      

                      {% comment %} <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="register-policy-2" required />
                        <label class="custom-control-label" for="register-policy-2">I agree to the <a href="#">privacy policy</a> *</label>
                      </div> {% endcomment %}
                      <!-- End .custom-checkbox -->
                    </div>
                    <div class="custom-control">
                      <p class="text-center mt-3">
                        Already have an account? <a href="{% url 'account:signin' %}">Log in here</a>.
                      </p>
                      </div>
                    <!-- End .form-footer -->
                  </form>
                  <div class="form-choice">
                    <p class="text-center">or sign in with</p>
                    <div class="row">
                      <div class="col-sm-6">
                        <a href="#" class="btn btn-login btn-g">
                          <i class="icon-google"></i>
                          Login With Google
                        </a>
                      </div>
                      <!-- End .col-6 -->
                      <div class="col-sm-6">
                        <a href="#" class="btn btn-login btn-f">
                          <i class="icon-facebook-f"></i>
                          Login With Facebook
                        </a>
                      </div>
                      <!-- End .col-6 -->
                    </div>
                    <!-- End .row -->
                  </div>
                  <!-- End .form-choice -->
                </div>
                <!-- .End .tab-pane -->
              </div>
              <!-- End .tab-content -->
            </div>
            <!-- End .form-tab -->
          </div>
          <!-- End .form-tab -->
        </div>
        <!-- End .form-box -->
      </div>
      <!-- End .container -->
    </div>
    <!-- End .login-page section-bg -->
  </main>
  <!-- End .main -->

  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <style>
      .shake {
        animation: shake .5s;

      }

      .error-color {
        background-color: red !important;
        border-color: red !important;

    }

      @keyframes shake {
        10%, 90% {
          transform: translateX(-5px);
        }

        20%, 80% {
          transform: translateX(5px);
        }

        30%, 50%, 70% {
          transform: translateX(-5px);
        }

        40%, 60% {
          transform: translateX(5px);
        }
      }
    </style>


    <script>
      $(document).ready(function () {
        var isEmailValid = false;
        var isUsernameValid = false;
        var isFullNameValid = false;
        var isPhoneNumberValid = false;
        var isPasswordValid = false;
        var doPasswordsMatch = true;
    
        function validateField(fieldName, validationFunction) {
          var field = $('[name="' + fieldName + '"]');
          var fieldValue = field.val().trim();
          validationFunction(field, fieldValue);
        }
    
        function validateEmail() {
          validateField('email', function (field, value) {
            var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            isEmailValid = emailRegex.test(value);
    
            field.css({
              'border-color': isEmailValid ? 'green' : 'red',
              'border-width': '2px'
            });
          });
        }
    
        function validateUsername() {
          validateField('username', function (field, value) {
            isUsernameValid = value !== '';
    
            field.css({
              'border-color': isUsernameValid ? 'green' : 'red',
              'border-width': '2px'
            });
          });
        }
    
        function validateFullName() {
          validateField('full_name', function (field, value) {
            isFullNameValid = value !== '';
    
            field.css({
              'border-color': isFullNameValid ? 'green' : 'red',
              'border-width': '2px'
            });
          });
        }
    
        function validatePhoneNumber() {
          validateField('phone_number', function (field, value) {
            isPhoneNumberValid = value !== '';
    
            field.css({
              'border-color': isPhoneNumberValid ? 'green' : 'red',
              'border-width': '2px'
            });
          });
        }
    
        function validatePassword() {
          validateField('password1', function (field, value) {
            isPasswordValid = value !== '';
    
            field.css({
              'border-color': isPasswordValid ? 'green' : 'red',
              'border-width': '2px'
            });
          });
        }
    
        function validatePasswordMatch() {
          var passwordInput = $('[name="password1"]');
          var confirmPasswordInput = $('[name="password2"]');
    
          doPasswordsMatch = passwordInput.val() === confirmPasswordInput.val();
    
          passwordInput.css({
            'border-color': doPasswordsMatch ? 'green' : 'red',
            'border-width': '2px'
          });
          confirmPasswordInput.css({
            'border-color': doPasswordsMatch ? 'green' : 'red',
            'border-width': '2px'
          });
        }
    
        // Email input field
        $('[name="email"]').on('input', function () {
          validateEmail();
        });
    
        // Username input field
        $('[name="username"]').on('input', function () {
          validateUsername();
        });
    
        // Full Name input field
        $('[name="full_name"]').on('input', function () {
          validateFullName();
        });
    
        // Phone Number input field
        $('[name="phone_number"]').on('input', function () {
          validatePhoneNumber();
        });
    
        // Password input fields
        $('[name="password1"], [name="password2"]').on('input', function () {
          validatePassword();
          validatePasswordMatch();
        });
    
        // Form submission with shaking effect and color change
        $('.submit-button').on('click', function () {
          // Trigger all validations
          validateEmail();
          validateUsername();
          validateFullName();
          validatePhoneNumber();
          validatePassword();
          validatePasswordMatch();
    
          // Check if all validations pass
          if (isEmailValid && isUsernameValid && isFullNameValid && isPhoneNumberValid && isPasswordValid && doPasswordsMatch) {
            // Submit the form
            $('form').submit();
          } else {
            // Add the 'shake' class to the submit button
            $('.submit-button').addClass('shake');
    
            // Add a class to change the button color to red
            $('.submit-button').addClass('error-color');
    
            // Remove the 'shake' class and color class after the animation ends
            setTimeout(function () {
              $('.submit-button').removeClass('shake error-color');
            }, 500); // Duration of the shake animation (in milliseconds)
    
            // Prevent the page from reloading
            return false;
          }
        });
      });
    </script>
    
    
  

  <!-- Add this script to the end of your HTML file, just before the </body> tag -->
{% endblock %}
