{% extends 'custom_admin/base.html' %}
{% load static %}


{% block content %}
  <div>
    <h2>Bike List</h2>
    <a class="btn btn-primary" href="{% url "powerenoughadmin:bike_create" %}">Create Bike</a>

    <table id="vendorTable" class="table">
      <thead>
        <tr>
          <th>Make</th>
          <th>Model</th>
          <th>Year</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for bike in bikes %}
          <tr>
            <td>{{ bike.make }}</td>
            <td>{{ bike.model }}</td>
            <td>{{ bike.start_year }} - {{ bike.end_year }}</td>
            <td>
                <a href="{% url 'powerenoughadmin:bike_edit' slug=bike.slug %}" class="btn btn-primary">Edit</a>
                <a href="{% url 'powerenoughadmin:bike_delete' slug=bike.slug %}" class="btn btn-danger">Delete</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <!-- Add this line before the DataTables script -->
  <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>

  <script>
    $(document).ready(function() {
      $('#vendorTable').DataTable();
    });
  </script>
{% endblock %}
