{% extends 'custom_admin/base.html' %}
{% load static %}

{% block content %}
  <h2>{{ category.name }}</h2>
  {% if category.image %}
  <img src="{{ category.image.url }}" alt="{{ category.name }}" width="300" height="200">
  {% endif %}
  <p>{{ category.description }}</p>
  <p>{{ category.parent_category }}</p>
  <!-- Add any additional details you want to display -->
<br>
  <a class="btn btn-primary" href="{% url 'powerenoughadmin:category_edit' slug=category.slug %}">Edit</a>
  <a class="btn btn-secondary" href="{% url 'powerenoughadmin:category_list'  %}">Categories</a>



{% endblock %}
