{% extends "custom_admin/base.html" %}
{% load static %}

{% block title %}PowerStore Home{% endblock title %}

{% block content %}
  <div>
    <h2>User Details</h2>

    <table class="table">
      <thead>
        <tr>
          <th>Attribute</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>User ID</td>
          <td>{{ user.user_id }}</td>
        </tr>
        <tr>
          <td>Email</td>
          <td>{{ user.email }}</td>
        </tr>
        <tr>
          <td>Username</td>
          <td>{{ user.username }}</td>
        </tr>
        <tr>
          <td>Full Name</td>
          <td>{{ user.full_name }}</td>
        </tr>
        <!-- Add more user attributes as needed -->
      </tbody>
    </table>

    <a href="{% url 'powerenoughadmin:user-edit' user_id=user.user_id %}" class="btn btn-primary">Edit User</a>
    <a href="{% url 'powerenoughadmin:user-delete' user_id=user.user_id %}" class="btn btn-danger">Delete User</a>
    {% if user.is_active %}
      <a href="{% url 'powerenoughadmin:user-deactivate' user_id=user.user_id %}" class="btn btn-warning">Deactivate User</a>
    {% else %}
      <a href="{% url 'powerenoughadmin:user-activate' user_id=user.user_id %}" class="btn btn-success">Activate User</a>
    {% endif %}
  </div>
{% endblock %}
